<script type="text/javascript">
    switch(pageTitle) {
        case "Effective Java":
            generateTOC(4,1);
            adjustDivHeight();
            break;

        case "Few days with Apache Cassandra":
        case "Build Dojo 1.7/1.8/1.9 with Maven":
        case "System and Application health - Is there a data collection challenge at the DC?":
            generateTOC(4,2);
            break;

        case "Real Time Dashboard with Camel, ActiveMQ & Dojo... On JBoss7 and using JMS & WebSocket":
            generateTOC(3,3);
            break;

    }
</script>
