<script>
    var libLocation;
    switch (pageType) {
        case "post":
            libLocation = location.pathname + '../../lib/my';
            break;

        case "about":
            libLocation = location.protocol + "//" + location.host + '/lib/my';
            break;

        case "index":
            libLocation = location.pathname + 'lib/my';
            break;
    }
    console.log("lib location = " + libLocation);

    var dojoConfig = {
        dojoBlankHtmlUrl:location.host + '/blank.html',
        packages:[
            {
                name:'my',
                location:libLocation
            }
        ]
    };
</script>

<script src="//ajax.googleapis.com/ajax/libs/dojo/1.9.1/dojo/dojo.js"></script>

<script>
    require([ "my/thinger", "dojo/domReady!" ], function (thinger) {
        console.log("got thinger = " + thinger);
    });
</script>

<script type="text/javascript">
    switch (pageTitle) {
        case "Effective Java":
            generateTOC(4, 1);
            adjustDivHeight();
            break;

        case "Few days with Apache Cassandra":
        case "Build Dojo 1.7/1.8/1.9 with Maven":
        case "System and Application health - Is there a data collection challenge at the DC?":
            generateTOC(4, 2);
            break;

        case "Real Time Dashboard with Camel, ActiveMQ & Dojo... On JBoss7 and using JMS & WebSocket":
            generateTOC(3, 3);
            break;

        case "Application Topology Graphs - Usecase, Different Product Offerings and a prototype using D3 and jsPlumb":
            generateTOC(3, 2);
            require([ "my/topograph/initialize", "my/topograph/d3AppGraph", "my/topograph/jsPlumbAppGraph", "dojo/domReady!" ],
                    function (Initialize, D3AppGraph, JsPlumbAppGraph) {
                        var initialize = new Initialize();
                        var jsPlumbPane = initialize.initialize();

                        var d3AppGraph = new D3AppGraph();
                        d3AppGraph.launch();

                        var jsPlumbAppGraph = new JsPlumbAppGraph();
                        jsPlumbAppGraph.launch(jsPlumbPane);
                    });
            break;

    }
</script>
