{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ SITENAME }}{% endblock %}

{% block extra_nav %}
<!-- About Section Navigation - Secondary Bar -->
<nav class="navbar navbar-expand-lg navbar-light about-subnav">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#aboutNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="aboutNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ SITEURL }}/pages/about/resources/">ಕಗ್ಗ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ SITEURL }}/pages/about/sitar/">Sitar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ SITEURL }}/pages/about/family/bn-murthy/">Family</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ SITEURL }}/pages/about/movies/">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ SITEURL }}/pages/about/slideshare/">Slideshare</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ SITEURL }}/pages/about/travel/">Travel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ SITEURL }}/pages/about/sandhyavandanam/">Sandhyavandanam</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<section class="content">
    {% if page.subtitle %}
    <h4>{{ page.subtitle }}</h4>
    {% endif %}

    <article {% if 'resources' in page.slug or 'ಕಗ್ಗ' in page.title %}class="poetry-content"{% endif %}>
        {{ page.content }}
    </article>
</section>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    var pageType = "about";
    var pageTitle = pageType;
</script>
{% if page.custom_js %}
<!-- Custom JavaScript for this page -->
{{ page.custom_js }}
{% endif %}
{% endblock %}
