<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}

    <title>Bharath's Blog</title>
    <link rel="alternate" type="application/rss+xml" href="/atom.xml"/>

    {% include css.html %}

    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/images/favicon.ico">

    <script type="text/javascript">
        var pageType = "about";
        var pageTitle = pageType;
    </script>

</head>

<body>

{% include fork-on-github.html %}

{% include javascripts.html %}

{% include topmost-nav.html %}

<div class="navbar navbar-default">
    <ul class="nav navbar-nav" style="padding-left: 50px">
        <li><a class="navbar-link" href="/pages/about/work.html">Work</a></li>
        <li><a class="navbar-link" href="/pages/about/education.html">Education</a></li>
        <li><a class="navbar-link" href="/pages/about/philosophy.html">Philosophy</a></li>
        <li><a class="navbar-link" href="/pages/about/twitter-timeline.html">Twitter Timeline</a></li>
        <li><a class="navbar-link" href="/pages/about/movies.html">Movies</a></li>
        <li><a class="navbar-link" href="/pages/about/books.html">Books</a></li>
        <li><a class="navbar-link" href="/pages/about/travel.html">Travel</a></li>
        <li><a class="navbar-link" href="/pages/about/quotes.html">Favorite Quotes</a></li>
        <li><a class="navbar-link" href="/pages/about/current.html">Current Affairs</a></li>
        <li><a class="navbar-link" href="/pages/about/slideshare.html">Slideshare</a></li>
        <li><a class="navbar-link" href="/pages/about/torrents.html">Torrents</a></li>
        <!--li><a class="navbar-link" href="/pages/about/dilbert.html">Dilbert</a></li-->
        <li><a class="navbar-link" href="/pages/about/resources.html">Resources</a></li>
    </ul>
</div>

<div class="container">
    {{ content }}
</div>

{% include footer.html %}

{% include google-analytics.html %}
{% include gauges.html %}
</body>

{% include postpagescripts.html %}

</html>
