<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Bharath's Blog</title>

    <meta name="author" content="{{ site.author.name }}"/>
    <meta name="description" content="{{ site.description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="alternate" type="application/rss+xml" href="/atom.xml"/>

    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="/lib/up/up.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-42349821-1', 'bharath12345.github.io');
        ga('send', 'pageview');
    </script>
</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ site.title }}</a>

        <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav pull-right hidden-print">
                <li>
                    <a class="hidden-sm" title="About me" href="/about.html">
                        <i class="icon-user icon-large"></i>
                    </a>
                    <a class="visible-sm" title="About me" href="/about.html">
                        <i class="icon-user icon-large"></i>
                        About me
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="Follow me" href="https://twitter.com/{{ site.author.twitter }}">
                        <i class="icon-twitter icon-large"></i>
                    </a>
                    <a class="visible-sm" title="Atom Feed" href="https://twitter.com/{{ site.author.twitter }}">
                        <i class="icon-twitter icon-large"></i>
                        Follow me
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="Projects" href="https://github.com/{{ site.author.github }}">
                        <i class="icon-github icon-large"></i>
                    </a>
                    <a class="visible-sm" title="Projects" href="https://github.com/{{ site.author.github }}">
                        <i class="icon-github icon-large"></i>
                        GitHub Projects
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="CV" href="http://www.linkedin.com/in/bharadwajn">
                        <i class="icon-linkedin icon-large"></i>
                    </a>
                    <a class="visible-sm" title="CV" href="http://www.linkedin.com/in/bharadwajn">
                        <i class="icon-linkedin icon-large"></i>
                        CV
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="Facebook" href="https://www.facebook.com/bharadwajn">
                        <i class="icon-facebook icon-large"></i>
                    </a>
                    <a class="visible-sm" title="Facebook" href="https://www.facebook.com/bharadwajn">
                        <i class="icon-facebook icon-large"></i>
                        Facebook
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="Videos" href="http://www.youtube.com/user/bharadwajnarasimha">
                        <i class="icon-youtube icon-large"></i>
                    </a>
                    <a class="visible-sm" title="Videos" href="http://www.youtube.com/user/bharadwajnarasimha">
                        <i class="icon-youtube icon-large"></i>
                        YouTube Videos
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    {{ content }}
</div>

<div id="footer" class="hidden-print">
    <section class="meta">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section>
</div>
{% include analytics.html %}
{% include gauges.html %}
</body>
<script src="/lib/jQuery/jquery-1.10.2.min.js"></script>
<script src="/lib/up/up.js"></script>
</html>
