---
layout: layout
---

<section class="content">
    <h1>
        <a href="{{ page.url }}">{{ page.title }}</a>
    </h1>

    <section class="byline">
        {{ page.date | date: "%B %e, %Y" }}
    </section>
    <hr>
    <table>
        <tr>
            <td>{% include twitter.html %}</td>
            <td>
                <div class="fb-like" data-send="false" data-layout="standard" data-width="450" data-show-faces="false" data-colorscheme="light" data-action="like"></div>
            </td>
        </tr>
    </table>
    <hr>
    {{ content }}
    <hr>
    {% include disqus.html %}
</section>
