---
layout: layout
---

<section class="content">
    <script type="text/javascript">
        var pageTitle = "{{ page.title }}";
        var pageType = "post";
    </script>

    <h2>
        <a href="{{ page.url }}">{{ page.title }}</a>
    </h2>

    {% if page.subheading == true %}
    <h4>{{ page.subhead }}</h4>
    {% endif %}


    <section class="byline">
        {{ page.date | date: "%B %e, %Y" }}
    </section>
    <hr>
    {% if page.tweetfb %}
    <table>
        <tr>
            <td>{% include twitter.html %}</td>
            <td>{% include facebook.html %}</td>
        </tr>
    </table>
    <hr>
    {% endif %}

    {% if page.toc == true %}
    <div id="entryBlock"></div>
    {% endif %}

    {{ content }}

    <hr>
    {% if page.disqus %}
    {% include disqus.html %}
    {% endif %}
</section>
